body {
  background-color: lightgrey;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.sidebar-container {
  height: 480px;
}

.sidebar {
  background-color: gray;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  border: 2px;
  border-color: black;
  border-style: solid;
  padding: 0 50px;
}

#header {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.container {
  width: 480px;
  min-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cell {
  background-color: white;
  border: 1px;
  border-color: rgba(128, 128, 128, 0.2);
  border-style: solid;
  box-sizing: border-box;
}

.cell-borderless {
  background-color: white;
  border: 1px;
  border-color: rgba(128, 128, 128, 0.2);
  border-style: none;
  box-sizing: border-box;
}

.container .hovered {
  background-color: black;
}

.btns {
  display: flex;
  flex-direction: column;
}

button {
  font-weight: 800;
  margin-top: 24px;
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 8px 16px;
}